body {
  margin: 0;
  background-color: hsl(0, 0%, 95%);
}
.x {
  align-items: center;
  justify-content: center;
  margin: 6% auto;
  width: 60%;
}

.first {
  padding: 45px 45px;
  background-color: hsl(31, 77%, 52%);
}

.second {
padding: 45px 45px;
  background-color: hsl(184, 100%, 22%);
}

.third {
  padding: 45px 45px;
  background-color: hsl(179, 100%, 13%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca";
  font-size: 15px;
  padding-bottom: 70px;
}

h1 {
  padding: 25px 0 25px;
  color:hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display";
}

.btn {
  background-color: hsl(0, 0%, 95%) !important;
  border-radius: 25px !important;
  font-size: 15px !important;
  font-family: "Lexend Deca";
  width: 65%;
  padding: 11px 0;
}


.button-1 {
  color: hsl(31, 77%, 52%) !important;
}

.button-1:hover {
  background-color: hsl(31, 77%, 52%) !important;
  border-color: hsl(0, 0%, 95%) !important;
  color: hsl(0, 0%, 95%) !important;
}

.button-2 {
  color: hsl(184, 100%, 22%) !important;
}

.button-2:hover {
  background-color: hsl(184, 100%, 22%) !important;
  border-color: hsl(0, 0%, 95%) !important;
  color: hsl(0, 0%, 95%) !important;
}

.button-3 {
  color: hsl(179, 100%, 13%) !important;
}

.button-3:hover {
  background-color: hsl(179, 100%, 13%) !important;
  border-color: hsl(0, 0%, 95%) !important;
  color: hsl(0, 0%, 95%) !important;
}
.attribution {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 12px;
}

.attribution a {
  color:hsl(184, 100%, 22%);
  font-size: 20px;
}
